/* vim: tabstop=2 expandtab */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.service-container {
  overflow: hidden;
  width: 100%;
  height: 0;
}
.service-container iframe {
  display: block;
  border: none;
  width: 100%;
}
.content {
  display: block;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
}

